<div class="list-container" (refresh)="refreshList()">
    <app-edit-item id="edit-bar" (delete)="onDelete()"></app-edit-item>

    <!-- Lists all project items --> 
    <ng-container *ngIf="pList">
        <div *ngFor="let project of pList">
            <app-list-item [listItem]="project" (updateSelected)="onSelect($any($event))"></app-list-item>
        </div>
    </ng-container>

    <!-- Displayed when pList$ observable hasn't been fetched
    <ng-template #pending>
        <h3>Pending...</h3>
    </ng-template>
    -->
</div>