/* Add style to item box */
.item {
    display: flex;
    flex-direction: row;
    background-color: rgb(252,252,252);
    border: 1pt solid black;
    border-radius: 5px;
    margin: 2%;
}

.item:hover {
    cursor: pointer;
}

/* Add custom margins to text elements */
.item h4, p {
    margin: 0 0.5% 0.5% 1%;
}

/* Add date text style */
.small {
    font-size: 0.8rem;
}

#indicator {
    width: 5%;
    margin-right: 1%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Highlight box when selected */
.selected {
    background-color: #119cc2;
}