/* Hide default file upload button */
.file-input {
    display: none;
}

.file-upload button {
    /* Button looks unaligned in mdeditor without this exact padding and border */
    padding: 6.96px 8.68px 6.96px 8.68px;
    border: 0.667px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

/* Change mouse to pointer on hover */
.file-upload button:hover {
    cursor: pointer;
}

.navimg {
    height: 14px;
    object-fit: contain;
}