/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;  
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: white;
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;  
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #55cef0;
  }
  
  /* Centering google sign in button */
  .googleButton {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

/* Add scroll animation to the home page header.
   Using the scroll animation from:
   https://scroll-driven-animations.style/demos/cover-to-fixed-header/css/ */
   @keyframes sticky-parallax-header-move-and-size {
    from {
      /*line-height: 100vh;*/
      font-size: calc(8vw + 1em);
      padding-top: calc((105vh - 8vw - 1em)/2);
      padding-bottom: calc((105vh - 8vw - 1em)/2);
    }
    to {
      /* line-height: 15vh; */
      font-size: 3em;
      padding-top: calc((18vh - 4em)/2);
      padding-bottom: calc((18vh - 4em)/2);
    }
  }
  
  #sticky-parallax-header {
    text-align: center;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
  }

  #animation {
    animation: sticky-parallax-header-move-and-size linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 130vh;
  }

  #title {
    margin: 0px;
  }

  #author {
    font-size: medium;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 8px;
  }

  .flex-half-container {
    display: flex;
    flex-direction: row;
    line-height: 1.2;
  }

  app-showcase, app-list {
    flex: 1 1 0;
  }

  .logout-btn {
    font-size: small;
    margin: 0 auto;
    width: 100px;
    line-height: 2;
    border: 1px solid #dadce0;
    border-radius: 4px;
    margin-bottom: 8px;
    display: none;
  }

  .logout-btn a {
    color: #3c4043;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
  }

  .logout-btn:hover {
    cursor: pointer;
    background-color: #fff1f1;
  }