<div class="half-container" (refresh)="refreshList()">
    <app-edit-item></app-edit-item>

    <!-- Lists all project items --> 
    <ng-container *ngIf="pList$ | async as pList; else pending">
        <div *ngFor="let project of pList">
            <app-list-item [listItem]="project" (click)="onSelect(project)"></app-list-item>
        </div>
    </ng-container>

    <!-- Displayed when pList$ observable hasn't been fetched -->
    <ng-template #pending>
        <h3>Pending...</h3>
    </ng-template>
</div>