/* Add a black background color to the top navigation */
.listnav {
    background-color: hsl(0, 7%, 80%);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .listnav button {
    float: left;
    background-color: #119cc2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
  }
  
  /* Change the color of links on hover */
  .listnav button:hover {
    background-color: #55cef0;
    color: white;  
  }
  
.navimg {
    height: 1em;
    object-fit: contain;
}