/* You can add global styles to this file, and also import other style files */

/* Take up entire height of screen */
html, body {
    margin: 0;
    font-family: Arial;
}

body {
    background-color: #F5F5F5;
    padding-top: 230vh;
}

/* Customize list and showcase
   % based on parent
   
   Note: any other combination of display and position will cause either the element
         to go out-of-flow and thus ruin the %-based styling below, or cause the element
         to become a block and thus take up a whole line by itself 
         (we want want two half-containers in the same row).*/
.half-container {
    flex: 0 1 column;
    margin: 5%; 
    height: 65vh;
    background-color: white;
    overflow-y: auto;
  }